<div id="<%= dom_id article %>">

<% if article.edited? %> 
    (edited)
<% end %>
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= article.user.username %>
  </p>

  <p>
    <strong>Views:</strong>
    <%= article.views %>
  </p>

</div>
